@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));

}



* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
